<!DOCTYPE html>
<html lang="en">

<head>
    <% if (htmlWebpackPlugin.options.headScripts) { %>
        <% for (var i=0; i<htmlWebpackPlugin.options.headScripts.length; i++) { %>
        <script src="<%= htmlWebpackPlugin.options.headScripts[i] %>"></script>
        <% } %>
    <% } %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><% if (htmlWebpackPlugin.options.titleName) %><%= htmlWebpackPlugin.options.titleName %></title>
    <link rel="icon" href="<%= require('../assets/images/favicon.ico') %>">
</head>

<body>
    <div id="root"></div>
</body>

</html>